/* Muhammad A Ayyub */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.hero {
  color: #fff;
  min-height: 100vh;
  width: 100%;
  background-image: url(assets/heroF.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: 1;

}

li {
  list-style: none;
}

a {
  color: #fff;
  font-size: 34;
  font-weight: 300;
  text-decoration: none;
  font-family: 'Roboto';
  
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  z-index: 5;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo {
  font-weight: 200;
  font-size: 1.5rem;
  font-family: monospace;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  font-weight: 400;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.content-container {
  margin: 5rem 0;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: #fff;
  max-width: 50em;
  text-align: center;
  margin-bottom: 5em;
  padding: 10px;
}

.hero h1 {
  font-size: 45px;
  font-weight: 200;
  margin: 20px 20px;
  font-family: 'Roboto'; 
}

.hero h3 {
  font-size: 18px;
  font-weight: 300;
  padding: 10px 1rem;
  font-family: 'Josefin Sans';
}

.hero p {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  font-family: 'Josefin Sans';
}

.btn {
  color: #000;
  cursor: pointer;
  margin-top: 1rem;
  background: #fff;
  padding: 10px 1rem;
  border-radius: 8px;
  font-weight: 200;
  border: 1.5px solid #fff;
  font-family: 'Josefin Sans';
}

.btn:hover {
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border: 1.5px solid #fff;
}

#more-content {
  transition: max-height 0.7s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

#more-content.visible {
  max-height: 200px;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1rem;
  }
  .hero h1 {
    font-size: 30px;
    padding: 0 3rem;
  }
  .hero h3 {
  font-size: 18px;
  padding: 0 3.5rem;
}
.hero p {
  font-size: 16px;
  margin: 0 2rem;
}
  .navbar {
    padding: 0.5rem 1.5rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -110%;
    top: 0;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #242424;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .content-container {
    margin: 2rem 0;
  }
  .content-container p {
    padding: 2rem 0;
  }
}

/* <!--Uba Rabiu--> */
.aboutus {
  gap: 2rem;
  display: flex;
  padding: 5rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutus h2{
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto'; 
}

.about-content{
  gap: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.about-content p{
  flex: 1;
  width: 500px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1rem;
  vertical-align: top;
  font-family: 'Josefin Sans';
}

.about-content img{
  flex: 1;
  width: 500px;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .about-content{
    padding: 0 0.5rem;
    flex-direction: column;
  }
  .aboutus h2{
    font-size: 30px;
  }
  .about-content p{
    width: 100%;
    text-align: justify;
  }
  .about-content img{
    width: 100%;
  }
}

/* <!--Uba Rabiu--> */
.mission {
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin-top: 5rem;
  text-align: center;
  flex-direction: column;
}

.mission h2 {
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.mission h3{
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  font-family: 'Josefin Sans';
}

.serv-list {
  gap: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.serv-items {
  gap: 0.9rem;
  width: 350px;
  display: flex;
  height: 400px;
  max-width: 500px;
  border-radius: 15px;
  padding: 1.5rem 15px;
  background: #D9D9D9;
  flex-direction: column;
}

.fa-solid {
  font-size: 40px;
  align-items: center;
}

.serv-items h2 {
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  font-family: "Roboto";
}

.serv-items h3 {
  text-align: center;
  font-family: "josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  margin: 5px;
}

.serv-items p {
  color: #000;
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
  text-align: start;
  font-family: "josefin Sans";
}

@media screen and (max-width: 768px) {
  .mission{
    padding: 0 2rem;
  }
  .mission h2 {
    font-size: 30px;
  }
  .mission h3{
    font-size: 16px;
    font-weight: 200;
  }
  .serv-items {
    width: 300px;
    padding: 1rem 15px;
    text-align: center;
  }
  .serv-items p {
    text-align: center;
  }
}

/* <!--Uba Rabiu--> */
.beneficiaries {
  gap: 4rem;
  display: flex;
  height: 420px;
  margin-top: 5rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}

.beneficiaries .heading{
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.students{
  gap: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: center;
}

.students h2{
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.skill p{
  font-size: 20px;
  font-weight: 200;
  padding-top: 1rem;
  font-family: "josefin Sans";
}

@media screen and (max-width: 768px) {
  .beneficiaries {
    padding: 5rem 0;
    height: fit-content;
  }
  .beneficiaries .heading{
    font-size: 30px;
  }
  .students{
    gap: 2rem;
    flex-direction: column;
  }
}

/* Muhammad A Bello */
.student-gallery {
  min-height: 100vh;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.student-gallery h2 {
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.student-gallery h3 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.profile-container {
  width: 100%;
  gap: 1rem;
  height: fit-content;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 218px;
  height: fit-content;
  margin: 10px;
  text-align: center;
}

.profile-img {
  width: 100%;
  height: 320px;
  border-radius: 5px;
  object-fit: cover;
  border: 1.5px solid #ddd;
}

.student-name {
  font-size: 18px;
  font-weight: 700;
  padding: 0.5rem 0;
  font-family: 'Roboto';
}

.student-title {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto';
}

@media screen and (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .student-gallery h2 {
    font-size: 30px;
  }

  .profile-card {
    width: 230px;
    height: 350px;
    margin: 30px 0;
  }

  .profile-img {
    width: 100%;
    height: 320px;
  }
}

/* Benjamin */
.project-container {
  width: 100%;
  height: 100vh;
  color: #fff;
  margin-top: 5rem;
  overflow: hidden;
  text-align: start;
  background-size: cover;
  padding: 1.5rem 0.9rem;
  background-position: center;
  background-image: url("assets/project.jpg");
}

.project-container h2 {
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  font-family: 'Roboto';
}

.project-container h3 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  padding: 1.5rem 0;
  font-family: 'Josefin Sans';
}

.desc{
  display: flex;
  max-width: 20rem;
  margin: 2rem 4rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.project-container .desc div p {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  font-family: 'Josefin Sans';
}

.button-container {
  padding: 1rem 0;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .project-container {
    height: 100vh;
    padding: 1rem 0.5rem;
    background-image: url("assets/phone-bg3.png");
  }

  .project-container h2 {
    font-size: 30px;
  }

  .project-container h3 {
    padding: 1rem 2.5rem;
  }

  .desc{
    max-width: 100%;
    margin: 0.5rem;
  }
}

/* social media */
.media-container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-container a i {
  color: #000;
  font-size: 40px;
  padding: 10px 0.6rem;
}

.media-container a i:hover {
  color: #262626;
}

footer {
  width: 100%;
  color: #fff;
  background-color: #000;
}

footer p {
  display: flex;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 1rem 2rem;
  font-family: 'Roboto';
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .media-container a i {
    font-size: 30px;
    padding: 5px 0.4rem;
  }
  footer p{
    font-size: 10px;
  }
}